nifi-flows/default/xyzavc.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1736501279535,
    "description" : "",
    "identifier" : "xyzavc",
    "lastModifiedTimestamp" : 1736501279535,
    "name" : "xyzavc",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cfcbd5c0-6204-3b73-9bcb-c451f5f2eb3e",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e9dbd836-5170-3718-ac53-c9cc53e4bb25",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "99b7e637-df4e-3e51-a7e0-d0fcc60bfd5e",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "cfcbd5c0-6204-3b73-9bcb-c451f5f2eb3e",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3a92ba69-67f8-311d-9c94-e69ccf29abc6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "permission.denied" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5b857123-acc6-3b20-a5bc-f9139fe8d422",
        "name" : "FetchSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "5b857123-acc6-3b20-a5bc-f9139fe8d422",
        "name" : "FetchSFTP",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "72e58c3a-6836-37d0-bb80-554e2cf814d9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "99b7e637-df4e-3e51-a7e0-d0fcc60bfd5e",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "xyz",
    "outputPorts" : [ ],
    "parameterContextName" : "some-param-context",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5b857123-acc6-3b20-a5bc-f9139fe8d422",
      "maxBackoffPeriod" : "10 mins",
      "name" : "FetchSFTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 400.0,
        "y" : -80.0
      },
      "properties" : {
        "Port" : "22",
        "Create Directory" : "false",
        "Use Compression" : "false",
        "Disable Directory Listing" : "false",
        "Send Keep Alive On Timeout" : "true",
        "Completion Strategy" : "None",
        "fetchfiletransfer-notfound-loglevel" : "ERROR",
        "Connection Timeout" : "30 sec",
        "Data Timeout" : "30 sec",
        "Strict Host Key Checking" : "false"
      },
      "propertyDescriptors" : {
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Remote File" : {
          "displayName" : "Remote File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote File",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Create Directory" : {
          "displayName" : "Create Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Directory",
          "sensitive" : false
        },
        "Host Key File" : {
          "displayName" : "Host Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Compression" : {
          "displayName" : "Use Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Compression",
          "sensitive" : false
        },
        "Ciphers Allowed" : {
          "displayName" : "Ciphers Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ciphers Allowed",
          "sensitive" : false
        },
        "Message Authentication Codes Allowed" : {
          "displayName" : "Message Authentication Codes Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Authentication Codes Allowed",
          "sensitive" : false
        },
        "Disable Directory Listing" : {
          "displayName" : "Disable Directory Listing",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Disable Directory Listing",
          "sensitive" : false
        },
        "Send Keep Alive On Timeout" : {
          "displayName" : "Send Keep Alive On Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Send Keep Alive On Timeout",
          "sensitive" : false
        },
        "Completion Strategy" : {
          "displayName" : "Completion Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Completion Strategy",
          "sensitive" : false
        },
        "Private Key Passphrase" : {
          "displayName" : "Private Key Passphrase",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Passphrase",
          "sensitive" : true
        },
        "fetchfiletransfer-notfound-loglevel" : {
          "displayName" : "Log level when file not found",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "fetchfiletransfer-notfound-loglevel",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Data Timeout" : {
          "displayName" : "Data Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Timeout",
          "sensitive" : false
        },
        "Private Key Path" : {
          "displayName" : "Private Key Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Path",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Move Destination Directory" : {
          "displayName" : "Move Destination Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Move Destination Directory",
          "sensitive" : false
        },
        "Key Exchange Algorithms Allowed" : {
          "displayName" : "Key Exchange Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Exchange Algorithms Allowed",
          "sensitive" : false
        },
        "Strict Host Key Checking" : {
          "displayName" : "Strict Host Key Checking",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Strict Host Key Checking",
          "sensitive" : false
        },
        "Key Algorithms Allowed" : {
          "displayName" : "Key Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Algorithms Allowed",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.FetchSFTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "cfcbd5c0-6204-3b73-9bcb-c451f5f2eb3e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -448.0,
        "y" : 184.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "99b7e637-df4e-3e51-a7e0-d0fcc60bfd5e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -352.0,
        "y" : -168.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "0B",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "x" : "#{EDW}",
        "y" : "${#{EDW}:jsonPath(\"$.hostname\")}",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "mime-type" : {
          "displayName" : "Mime Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "mime-type",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "x" : {
          "displayName" : "x",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "x",
          "sensitive" : false
        },
        "y" : {
          "displayName" : "y",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "y",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "1 min",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Environment Variables" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Environment Variables",
      "parameterGroupName" : "Environment Variables",
      "parameterProvider" : "4fdd6ddf-0194-1000-dde3-ddfeafdb5efb",
      "parameters" : [ {
        "name" : "CONFIG_FILE_PROPERTY",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "FPS_BROWSER_USER_PROFILE_STRING",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "CommonProgramFiles",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "OS",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "COMPUTERNAME",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "DriverData",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "RUN_COMMAND",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "ComSpec",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "ProgramW6432",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "PROCESSOR_ARCHITECTURE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "HOMEPATH",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "HOMEDRIVE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "PROCESSOR_IDENTIFIER",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "TIBEMS_ROOT",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "TMP",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "USERDOMAIN_ROAMINGPROFILE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "PROCESSOR_LEVEL",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "SESSIONNAME",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "PSModulePath",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "NIFI_HOME",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "LOG_DIR_PROPERTY",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "PROMPT",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "COMMANDER_INI",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "OneDrive",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "APPDATA",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "ChocolateyInstall",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "USERNAME",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "VBOX_MSI_INSTALL_PATH",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "Path",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "PROCESSOR_REVISION",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "PATHEXT",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "OneDriveConsumer",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "COMMANDER_INSTANCE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "CommonProgramW6432",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "NIFI_LOG_DIR",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "COMMANDER_SESSIONNAME",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "SystemRoot",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "ProgramData",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "TEMP",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "COMMANDER_PATH",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "EFC_13900",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "USERPROFILE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "ProgramFiles",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "PUBLIC",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "BOOTSTRAP_HEAP_SIZE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "NIFI_PID_DIR",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "windir",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "NUMBER_OF_PROCESSORS",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "ZES_ENABLE_SYSMAN",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "HTTP_PROXY_",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "LOCALAPPDATA",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "OneDriveCommercial",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "ChocolateyLastPathUpdate",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "BOOTSTRAP_LIB_DIR",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "COMMANDER_DRIVE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "FPS_BROWSER_APP_PROFILE_STRING",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "LOGONSERVER",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "COMMANDER_EXE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "USERDOMAIN",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "ALLUSERSPROFILE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "JAVA_ARGS",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "CONF_DIR",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "JAVA_MEMORY",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "JAVA_HOME",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "SystemDrive",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "PROPERTIES_FILE_PROPERTY",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "JAVA_EXE",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "JAVA_PARAMS",
        "provided" : true,
        "sensitive" : true
      }, {
        "name" : "HTTPS_PROXY_",
        "provided" : true,
        "sensitive" : true
      } ],
      "synchronized" : true
    },
    "some-param-context" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ "Environment Variables" ],
      "name" : "some-param-context",
      "parameters" : [ {
        "description" : "",
        "name" : "EDW",
        "provided" : false,
        "sensitive" : false,
        "value" : "{\n   \"hostname\": \"edw.hostname.cz\",\n   \"port\": \"22\",\n   \"some\": {\n     \"other\" : \"xx\"\n   },\n  \"currentTime\": \"${now()}\"\n\n}"
      }, {
        "description" : "",
        "name" : "Passwords",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "Password",
        "provided" : false,
        "sensitive" : true
      } ]
    }
  },
  "parameterProviders" : {
    "4fdd6ddf-0194-1000-dde3-ddfeafdb5efb" : {
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.1.0"
      },
      "identifier" : "4fdd6ddf-0194-1000-dde3-ddfeafdb5efb",
      "name" : "EnvironmentVariableParameterProvider",
      "type" : "org.apache.nifi.parameter.EnvironmentVariableParameterProvider"
    }
  },
  "snapshotMetadata" : {
    "author" : "b6673b04-49f7-4aec-8667-64638c45781f",
    "flowIdentifier" : "xyzavc",
    "timestamp" : 0
  }
}